html{
  width: 100%;
  height: 100%;
}
body {
  background-image:url(../img/background.jpg);
  background-size: 100% 100%;
  width:100wh;
  height: 100vh;
}
a {
  text-decoration: none;
}
.header {
  height: 36px;
  width: 100%;
  background-image: url(../img/menu.jpg);
  display:flex;
  justify-content: flex-end;
  position: absolute;
}
.menu {
  display:block;
  width:385px;
}
.menu li {
  display:inline-block;
  list-style: none;
  height: 36px;
}
.menu li a {
  height: 36px;
  line-height: 36px;
  display: block;
  font-family: 'helvetica',Tahoma,sans-serif;
  font-size: 14;
  padding:0 10px;
}
.menu li:hover {
  background-color: #4eabda;
}
.menu li a:hover {
  display: block;
  color:white;
}
.ofertas {
  display:inline-block;
  width: 162px;
  border-left: 0.5px solid #56a2dc;
}
.ofertas img {
  float:left;
  width:35px;
  height:35px;
}
.ofertas a {
  display:inline-block;
  color:white;
  padding: 10px 10px;
  font-family: 'helvetica',Tahoma,sans-serif;
  font-size: 14;
}
.ofertas:hover {
background-color: #4eabda;
}
.entrar{
  display:block;
  width: auto;
  padding: 10px;
  margin-right: 30px;
  width:190px;
}
.entrar li{
  display: inline-block;
  list-style: none;
  color: white;
  font-family: 'helvetica',Tahoma,sans-serif;
  font-size: 14;
}
.entrar li a{
  display:inline-block;
  text-decoration: underline;
  color: white;
  font-family: 'helvetica',Tahoma,sans-serif;
  font-size: 14;
}
.entrar:hover{
  background-image: url(../img/hover.png);
}
.wrapper {
  position:relative;
  top:120px;
  margin: auto;
  height:500px;
  width:471px;
}
.wrapper h1 {
  display: block;
  width:480px;
  height:60px;
  color: white;
  font-family: 'helvetica',Tahoma,sans-serif;
  font-size: 24;
  background-color: rgba(23, 27, 23, 0.6);
  margin-bottom: 2px;
}
form {
  margin: 0 auto;
  margin-bottom: auto;
  width:480px;
  height:440px;
  font-family: 'helvetica',Tahoma,sans-serif;
  background-color: rgba(23, 27, 23, 0.6);
}
 .wrapper img {
  margin-top:15px;
  margin-bottom:15px;
  width:240px;
  border-radius:10px;
}
form p{
  color:white;
  font-size: 14px;
  font-family: 'helvetica',Tahoma,sans-serif;
}
span {
width:40px;
font-size: 14px;
font-family: 'helvetica',Tahoma,sans-serif;
color:#999999;
}
hr {
height: 3px;
border: none;
background-image:url(../img/frame.png);
margin: 0;
width:105px;
display:inline-block;
}
.ou {
display:block;
margin-bottom: 15px;
}
form input{
margin: 0 auto 10px;
width:240px;
height:30px;
background-image: url(../img/form.jpg);
color: white;
text-indent:10px;
border: none;
border-bottom: 1px solid #9d9d9d;
}
form input:focus{
  background-image: linear-gradient(to bottom, #1b4b79 1%, #1b5288 100%, #1b5288 100%);
  box-shadow: 0px 0px 13px 0px rgba(105,155,205,1);
  border-bottom: 1px solid #689bcd;
  border-top: 1px solid #689bcd;
}

label {
display: block;
width:278px;
 margin:0 auto;
 height: 35px;
 line-height: 35px;
}
label input {
display:inline-block;
height:16px;
width:16px;
vertical-align: middle;
}
label{
font-family: 'helvetica',Tahoma,sans-serif;
font-size: 14px;
color: white;
}
button {
  font-family: 'helvetica',Tahoma,sans-serif;
  font-size: 14px;
  color: white;
  margin:2vh auto;
  width: 150px;
  height: 30px;
  background-image: url(../img/hover.png);
  border: none;
}
